@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: var(--font-body), sans-serif;
  background-color: #f7f7f5;
  color: #141413;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
